.aside-filters {
    grid-area: aside;
    height: 100%;
    background-color: var(--elevation-2);
    padding: 32px;
    z-index: 3;
}

.aside-filters .aside-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.aside-filters .aside-header img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    object-position: center;
}

.aside-filters .aside-header h1 {
    margin-left: 8px;
    line-height: 1.2;
}

.aside-filters .search-container {
    margin-top: 42px;
}


.aside-filters input#search {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    height: 32px;
    border: 0;
    border-bottom: 1px solid var(--primary);
    color: #cacaca;
}

.aside-filters .aside-button {
    appearance: none;
    border: none;
    height: 32px;
    width: 100%;
    border-radius: 20px;
    background: var(--primary);
    color: #cacaca;
    text-transform: uppercase;
    margin-top: 32px;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.aside-filters .aside-button:hover {
    filter: brightness(0.8);
}

.aside-filters .toogle-search,
.aside-filters .toogle-search + label {
    display: none;
}

.aside-filters .toogle-search + label {
    width: 42px;
    height: 42px;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 50%;
    background: var(--elevation-5);
}

.aside-filters .toogle-search + label img {
    max-width: 24px;
}

.aside-filters .toogle-search + label:after,
.aside-filters .toogle-search + label:before {
    height: 3px;
    width: 24px;
    display: block;
    background: var(--primary);
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.aside-filters .toogle-search + label:after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.aside-filters .toogle-search + label:before {
    transform: translate(-50%, -50%) rotate(135deg);
}

.aside-filters .toogle-search:checked + label:after,
.aside-filters .toogle-search:checked + label:before {
    content: "";
}

.aside-filters .toogle-search:checked + label img {
    display: none;
}


@media (max-width: 800px) {
    .aside-filters {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 16px;
        box-sizing: border-box;
        position: relative;
    }
    .aside-filters .aside-header {
        text-align: center;
        justify-content: center;
    }
    .aside-filters .aside-header img {
        width: 32px;
        height: 32px;
    }
    .aside-filters .aside-header h1 {
        font-size: 20px;
    }

    .aside-filters .search-container {
        margin-top: 8px;
    }

    .aside-filters .search-container h3 {
        display: none;
    }

    .aside-filters .search-container {
        margin: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 80px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 16px;
        background: var(--elevation-2);
        transform: translateX(-100%);
        transition: 0.3s all ease-in-out;
    }

    .aside-filters .aside-button {
        width: fit-content;
        margin: 0;
        font-size: 12px;
        letter-spacing: normal;
        padding: 0 8px;
    }

    .aside-filters .toogle-search + label {
        display: inline-flex;
    }
    .aside-filters .toogle-search:checked ~ .search-container {
        transform: translateX(0);
    }
}