.aside-filters {
    grid-area: aside;
    height: 100%;
    background-color: var(--elevation-2);
    padding: 32px;
    z-index: 3;
}

.aside-filters .aside-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.aside-filters .aside-header img {
    width: 64px;
    height: 64px;
    object-fit: contain;
    object-position: center;
}

.aside-filters .aside-header h1 {
    margin-left: 8px;
    line-height: 1.2;
}

.aside-filters .search-container,
.aside-filters .radio-container {
    margin-top: 24px;
}


.aside-filters input#search {
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    height: 32px;
    border: 0;
    border-bottom: 1px solid var(--primary);
    color: #cacaca;
}

.aside-filters .radio-input input[type="radio"] {
    display: none;
}

.aside-filters .radio-input label {
    position: relative;
    padding-left: 36px;
    cursor: pointer;
}

.aside-filters .radio-input label:after,
.aside-filters .radio-input label:before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    top: 50%;
    left: 0;
    box-sizing: border-box;
}

.aside-filters .radio-input label:after {
    height: 24px;
    width: 24px;    
    background: transparent;
    border: 1px solid var(--primary);
    transform: translateY(-50%);
}

.aside-filters .radio-input label:before {
    height: 12px;
    width: 12px;  
    background: transparent;  
    transform: translate(6px, -50%);
}

.aside-filters .radio-input input:checked + label:before {
    background: var(--primary);
}

.aside-filters .radio-input {
    margin-top: 16px;
}

.aside-filters .aside-button {
    appearance: none;
    border: none;
    height: 32px;
    width: 100%;
    border-radius: 20px;
    background: var(--primary);
    color: #cacaca;
    text-transform: uppercase;
    margin-top: 32px;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.aside-filters .aside-button:hover {
    filter: brightness(0.8);
}