section.character-grid {
    overflow: auto;
    padding: 16px;
    z-index: 1;
}

section.character-grid::-webkit-scrollbar {
    width: 10px;
}
  
section.character-grid::-webkit-scrollbar-track {
    background: transparent;
}

section.character-grid::-webkit-scrollbar-thumb {
    background: var(--primary);
}

section.character-grid::-webkit-scrollbar-thumb:hover {
    background: var(--primary-dark);
}

p.empty-message {
    font-size: 24px;
    padding: 16px;
}

@media (max-width: 800px) {
    section.character-grid {
        padding: 0;
    }    
}