article.character-item {
    background: var(--elevation-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px;
    padding: 12px 16px;
    border-radius: 8px;
}

article.character-item p {
    margin: 0;
}

article.character-item a {
    display: inline-flex;
    padding: 8px 16px;
    border-radius: 24px;
    background: var(--primary-light);
    color: #121212;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s all ease-in-out;
}

article.character-item a:visited {
    background: var(--primary-light);
}

article.character-item a:hover,
article.character-item a:visited:hover {
    filter: brightness(0.7);
}