:root {
  --elevation-0: #121212;
  --elevation-1: #1D1D1D;
  --elevation-2: #212121;
  --elevation-3: #242424;
  --elevation-4: #272727;
  --elevation-5: #2C2C2C;
  --primary-light: #ef5350;
  --primary: #b61827;
  --primary-dark: #ba000d;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('assets/background.gif') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-grid {
  width: 100%;
  max-width: 1170px; /* 1170px grid + 16 px padding */
}

h1, h2, h3, p, ul {
  margin: 0;
}

input:focus,
button:focus {
  outline: none;
}

.secondary-button {
  appearance: none;
  border: none;
  height: 32px;
  padding: 0 24px;
  background: var(--elevation-5);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  color: #cacaca;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}

.secondary-button:hover {
    filter: brightness(1.2);
}